/*

SITE WIDE STYLES 

*/

/* Colour variables */

$black: #000;
$light-black: #292929;
$grey: #c6c6c6;
$dark-grey: #403f40;
$teal: #1b91af;
$white: #f9f9f9;

/* Fonts */

$headings-stack: "trajan-pro-3", serif;
$body-stack: "din-2014", sans-serif;

/* Basic page styles */

body {
	font-size: 14px;
	background-color: $black;
	color: $white;
	font-family: $body-stack;
	box-sizing: border-box;
}

.flexGridRow {
	max-width: 1400px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Headings and paragraphs */

h1, h2, h3, h4 {
	font-family: $headings-stack;
	font-weight: bold;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-family: $body-stack;
	font-size: 1.5rem;
	font-weight: 200;
}
h6 {
	font-family: $body-stack;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 200;
}

a {
	color: $teal;
}

/* Buttons and links */

.button {
	display: inline-block;
	text-decoration: none;
	background-color: $white;
	color: $light-black;
	font-size: 13px;
	border: none;
	font-family: $body-stack;
	font-weight: 100;
	cursor: pointer;
	border: 1px $white solid;
	transition: background-color 0.15s ease-in, color 0.15s ease-in;

	&:active {
		background-color: $teal;
	}

	&:hover {
		background-color: $light-black;
		color: $white;
	}
}

.link.button {
	padding: 0.5rem 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.social.button {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	line-height: 26px;
	margin: 0 0 0 5px;
} 

/* Helper classes */

.align-right {
	text-align: right;
}


/* 
HEADER / NAVIGATION 
*/

/* Header */ 

.fixed-header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.main-header {
	background-color: $light-black;
	color: $white;
	height: 120px;
	font-family: $body-stack;
	z-index: 100;
	transition: all 0.3s;
}

.main-header.smaller {
	height: 70px;
}

.clock-icon {
	max-width: 30%;
	display: inline-block;
	font-size: 30px;
	line-height: 32px;
	transition: all 0.15s ease;
}

.opening-times-container {
	margin: 18px;
	cursor: pointer;

	&:hover {
		.clock-icon {
			font-size: 34px;
		}
	}
}

.opening-times {
	max-width: 70%;
	display: inline-block;
	padding-left: 7px;

	p {
		margin: 0rem;
		font-size: 13px;
	}
}

.logo-container {
	img {
		max-width: 200px;
		display: table;
		margin: 10px auto;
		transition: all 0.3s;
	}
	img.smaller {
		max-width: 100px;
	}
}

.social-header-container {
	font-size: 13px;
	line-height: 70px;
	text-align: right;
	margin-right: 16px;
}

/* Opening hours pop-out */

.opening-times-pop-out {
	position: absolute;
	box-sizing: border-box;
	background-color: $light-black;
	z-index: 30;
	border: 1px solid $dark-grey;
	padding: 2rem;
	line-height: 1.25rem;
	max-width: 320px;
	left: -320px;
	transition: left 0.3s ease;

	table {
		width: 320px;
	}

	h4 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}

	.close {
		position: absolute;
		top: -1px;
		right: -1px;
		width: 25px;
		height: 25px;
		background-color: #ee5d61;
		text-align: center;
		line-height: 25px;
		font-size: 15px;
		cursor: pointer;
		transition: font-size 0.15s ease;

		&:hover {
			font-size: 20px;
		}
	}
}

.opening-times-pop-out.open {
	left: 0;
}

/* Navigation */
.header-navigation {
	background-color: $white;
	position: relative;
	
	ul {
		display: flex;
		flex-direction: row;
		z-index: 10;
		
		li {
			flex-grow: 1;
			flex-basis: 0;
			max-width: 100%;
			border-right: 1px solid $grey;
			text-align: center;

			&:last-child {
				border-right: none;
			}

			a {
				text-decoration: none;
				color: $black;
				display: inline-block;
				width: 100%;
				padding: 12px 0 10px 0;
				text-transform: uppercase;
				transition: background-color 0.15s ease, color 0.15s ease, border-bottom 0.15s ease;
				border-bottom: $white 2px solid;

				&:hover {
					background-color: $teal;
					color: $white;
					border-bottom: $teal 4px solid;
					border-color: $teal;
				}
			}

			.active {
				border-bottom: 4px solid $teal;
			} 
		}

	}
}

/* Submenu Navigation */

.header-navigation {
	ul {
		li {
						
			.inline-icon {
				color: $black;
				padding-left: 12px;
				transition: color 0.15s ease;
			}

			ul {
				z-index: -10;
				background-color: $light-black;
				position: absolute;
				width: 100%;
				left: 0;
				top: 0px;
				transition: all 0.15s ease;

				li {
					border-right: 1px solid $dark-grey;

					a {
						color: $white;
						border-bottom: $dark-grey 1px solid;

						&:hover {
							background-color: $dark-grey;
							color: $white;
							border-bottom: $dark-grey;
						}
					}
				}
			}
		
		&:hover {

			.inline-icon {
				color: $white;
			}

			ul {
					top: 42px;
			}
		}

		}
	}
}

/* Unslider positioning */

.front-page-slider {
	width: 100%;

	ul {
		li {
			img {
				width: 100%;
			}
		}
	}
}

.unslider-container {
	background-color: $black;
	margin-top: 158px;
}

/* Main body styles */

.front-page-main {
	background-color: $light-black;
	margin-top: 2rem;
}

.whats-on-main {
	background-color: $light-black;
	padding: 2rem;
	margin-top: 2rem;
}

.main-body {
	margin-top: 108px;
	background-color: $light-black;
	padding: 2rem;
}

/* Landing page styles */

.navigation-boxes {
	width: 100%;
	display: inline-flex;
	border-top: 1px solid $dark-grey;
	border-bottom: 1px solid $dark-grey;
	
	a {
		text-decoration: none;
		color: $white;
		display: inline-block;
		box-sizing: border-box;
		padding: 1rem;
	}

	li {
		text-align: center;
		flex: 0 1 auto;
		width: 25%;
		border-right: 1px solid $dark-grey;

		&:last-child {
			border-right: none;
		}

		&:hover {
			background-color: $dark-grey;
		}

		img {
			max-height: 100px;
		}

		h3 {
			margin-bottom: 0;
		}
	}
}

.front-page-article {
	padding: 3rem 5rem;
	background-image: url(../images/q-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
	
	p {
		line-height: 1.7em;
	}
}

.sidebar {
	padding: 1rem 3rem;
	margin: 1.6rem 0;
	border-left: 1px solid $dark-grey;

	.fb-profile-image {
		max-width: 50px;
	}

	span {
		display: block;
		padding-left: 1rem;
	}

	.fb-page-name {
		font-size: 18px;
		margin-bottom: 0.5rem;
	}

	.fb-post-copy {
		width: 100%;

		img {
			max-width: 50%;
			display: block;
			padding: 1rem 0;
		}
	}

	.fb-like-button {
		background-color: #3b5998;
		color: $white;
		border: none;
		padding: 0.5rem;
		border-radius: 3px;
		cursor: pointer;

		&:hover {
			background-color: #4d6eb9;
		}

	}
}

.retailer-logos {
	background-color: $white;
	padding: 2rem;
	border-top: 1px solid $dark-grey;
	border-bottom: 1px solid $dark-grey;

	.retailer-logo-container {
		width: 100%;
		text-align: center;
		position: relative;

		img {
			max-width: 100%;
		}

		.retailer-opening-hours {
			position: absolute;
			background-color: $white;
			border: 1px solid $grey;
			color: $light-black;
			padding: 0.5rem 1rem 1rem 1rem;
			text-align: left;
			min-width: 200px;
			transition: opacity 0.15s ease;
			opacity: 0;
			bottom: 90px;
			z-index: 999;
			box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
		}

		.retailer-opening-hours.visible {
			opacity: 1;
		}
	}
}

/* FOOTER STYLES */

.main-footer {
	border-top: $dark-grey;
	padding: 3rem;

	.dog-badge {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}

	.bottom-links {
		ul {
			list-style: none;
			li {
				display: inline-block;
				padding-right: 1rem;
				a {
					color: $white;
					&:hover {
						color: $teal;
					}
				}
			}
		}
	}

}

/* WHATS ON STYLES */
.whats-on-story-box {
	padding: 1rem;

	h5 {
		margin-bottom: 0;
		margin-top: 1.5rem;
	}
	
	.image-circle-crop {
		width: 180px;
		height: 180px;
		max-width: 100%;
		border-radius: 50%;
		overflow: hidden;
		text-align: center;

		img {
			max-height: 100%;
		}
		
	}
}

/* SINGLE STYLES */
.single-whats-on {
	max-width: 850px;
	margin: 108px auto 0 auto;
	background-color: $light-black;
	border: 1px solid $dark-grey;

	.single-whats-on-main-image {
		max-width: 100%;
	}

	header, main {
		padding: 0 3rem;
	}

	header {
		padding-top: 1rem;
	}

	main {
		line-height: 1.5rem;
	}

	footer {

		padding: 3rem;
		padding-top: 1rem;

		h6 {
			margin: 0;
		}

		.other-whats-on-image-container {
			display: inline-block;
			vertical-align: middle;

			.image-circle-crop {
				width: 60px;
				height: 60px;
				max-width: 100%;
				border-radius: 50%;
				overflow: hidden;
				text-align: center;

				img {
					max-height: 100%;
				}
			}
		}

		.other-whats-on-title-container {
			display: inline-block;
			vertical-align: middle;
			max-width: 140px;
			padding: 1rem;
		}
	}
}

/* 
	Responsive Styles 
*/

@media screen and (max-width: 48em) {

	/* Home Page Styles */

	.navigation-boxes {
		width: 100%;
		display: block;

		li {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid $dark-grey;


			img {
				max-height: 80px;
			}

			h3 {
				margin-bottom: 0;
			}
		}
	}

	.front-page-article {
		padding: 2rem;

		h2 {
			font-size: 1.5rem;
		}
		
		p {
			line-height: 1.7em;
		}
	}

	.sidebar {
		padding: 1rem;
		border-left: none;
		border-top: 1px solid $dark-grey;
		border-bottom: 1px solid $dark-grey;
		margin: 0;
		width: 100%;

		h6 {
			margin: 0;
			margin-bottom: 2rem;
		}
	}

	.retailer-logos {
		display: none;
	}

}
