/* COLOUR VARIABLES */

$black: #000;
$light-black: #212121;
$grey: #c6c6c6;
$teal: #1b91af;
$white: #f9f9f9;

$headings-stack: "Trajan Pro", serif;
$body-stack: "DIN", sans-serif;

/* FLEXBOX GRID */

.flex-grid {
	display: flex;
	justify-content: space-between;

	.col {
		flex: 1;
	}

	.col.third {
		width: 32%;
	}

	.col.half {
		width: 49%;
	}

	.col.quarter {
		width: 24%;
	}
}

/* HEADER / NAVIGATION */

.main-header {
	background-color: $black;
	color: $white;
	height: 70px;
}

.clock-icon {
	max-width: 30%;
	display: inline-block;
	font-size: 30px;
}

.opening-times-container {
	margin: 16px;
}

.opening-times {
	max-width: 70%;
	display: inline-block;
	padding-left: 7px;

	p {
		margin: 0rem;
		font-size: 13px;
	}
}

.logo-container {
	img {
		max-width: 100px;
		display: table;
		margin: 10px auto;
	}
}

.social-header-container {
	font-size: 13px;
	line-height: 70px;
	text-align: right;
	margin-right: 16px;
}