/* COLOUR VARIABLES */

$black: #000;
$light-black: #212121;
$grey: #c6c6c6;
$teal: #1b91af;
$white: #f9f9f9;

$headings-stack: "Trajan Pro", serif;
$body-stack: "DIN", sans-serif;

/* FLEXBOX GRID */

.flex-grid {
	display: flex;
	justify-content: space-between;

	.col {
		flex: 1;
	}

	.col.third {
		width: 32%;
	}

	.col.half {
		width: 49%;
	}

	.col.quarter {
		width: 24%;
	}
}